.containerTodo {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.295);
  margin-top: -1px;
  height: 60px;
}

.innerText {
  margin-left: 5px;
  font-size: 2.5rem;
}

.icons {
  font-size: 2.5rem;
  margin-left: 15px;
}
