.containerEmptyTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.295);
  margin-top: -1px;
  height: 60px;
  font-size: 2.5rem;
}
