.input {
  font-family: 'Raleway', sans-serif;
  border-radius: 0px;
  width: 500px;
  height: 60px;
  text-align: start;
  font-size: 3rem;
}

.contaierInput {
  position: relative;
  box-shadow: 6px -3px 48px -19px rgba(34, 60, 80, 0.2);
}

.icon {
  position: absolute;
  font-size: 3.5rem;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  color: rgba(97, 96, 94, 0.475);
  transition: color 0.2s;
}

.icon:hover {
  color: rgba(97, 96, 94, 0.788);
  cursor: pointer;
}
